/* ---------- general styling ---------- */
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

@font-face {
    font-family: 'CluckCluck';
    src: url('https://fiejohannsen.github.io/HappyChicken//fonts/cluckcluck.eot');
    src: url('https://fiejohannsen.github.io/HappyChicken//fonts/cluckcluck.eot?#iefix') format('embedded-opentype'),
         url('https://fiejohannsen.github.io/HappyChicken//fonts/cluckcluck.woff') format('woff'),
         url('https://fiejohannsen.github.io/HappyChicken//fonts/cluckcluck.ttf') format('truetype'),
         url('https://fiejohannsen.github.io/HappyChicken//fonts/cluckcluck.svg#cluck_cluck_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


:root {
  --white: #ffffff;
  --dark-orange: #B15927;
  --orange: #D88731;
  --beige: #F9D2AD;
  --light-beige: #F2E5D4;
  --h-font: 'CluckCluck', sans-serif;
  --p-font: 'Raleway', sans-serif;
}

h1, h2 {
  margin: 0 0 5% 0;
  font-family: var(--h-font);
}

p {
  margin: 0;
  font-family: var(--p-font);
}

header {
  width: 100%;
  z-index: 10;
  position: fixed;
}

.frontPage {
  background-image: url(../img/mobileBg.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
#desktopHero {
  display: none;
}

.navIconContainer {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 6px;
  z-index: 2;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 25px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#navContainer {
  display: none;
  font-family: var(--h-font);
  background-color: var(--dark-orange);
  height: 100vh;
  margin: auto;
  z-index: 1;
}

#navBullets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  height: 100vh;
  z-index: 1;
}

#navBullets>a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 4%;
  font-size: 20px;
}

.navLogo {
  width: 20%;
  margin-bottom: 30%;
}

.frontPageLogoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.frontPageLogo {
  margin-top: 50%;
  width: auto;
  height: 20%;
}

#badge {
  background-color: var(--light-beige);
  color: var(--dark-orange);
  text-align: center;
      padding: 8% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.badgeWrapper > img {
  width: 30%;
      margin: 5% 1%;
}
#badge > p {
  width: 80%;
}

#about, #partners {
  background-color: var(--light-beige);
  text-align: center;
  padding-top: 10%;
  color: var(--dark-orange);
}

.about-slider, .partner-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;

}

.aboutSlides, .partnerSlides {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.aboutSlides>img, .partnerSlides>img {
  width: 80%;
  -webkit-animation: slide-in-left 1s ease-out both;
  animation: slide-in-left 1s ease-out both;
      margin: 8% 0;
}



.aboutSlides>p, .partnerSlides>p {
  text-align: left;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--dark-orange);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.aboutDot, .partnerDot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  border: 3px solid;
  border-color: var(--dark-orange);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .aboutDot:hover, .partnerDot:hover {
  background-color: var(--dark-orange);
}

.partnerLogo {
  width: 35%;
  margin-bottom: 5%;

}
.chickenWrapper {
  height: 30vh;
  width: 100%;
  background-size: cover;

}
.chickenWrapper1 {
  background-image: url(../img/chick1.png);
  background-color: var(--dark-orange);

}
.chickenWrapper2 {
  background-image: url(../img/chick2.png);
  background-color: var(--orange);

}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: var(--dark-orange);
  color: var(--light-beige);
}

.footerContent {
  margin: 5%;
}

@media screen and (min-width: 600px) {
  .chickenWrapper {
    height: 40vh;
    background-size: contain;
        background-repeat: no-repeat;
  }
  .chickenWrapper1 {
    background-position: right;

  }
  .chickenWrapper2 {
    background-position: left;

  }
  #badge > p {
    width: 55%;
  }
  .badgeWrapper>img {
    width: 20%;
  }
}

@media screen and (min-width: 992px) {
h1 {
  margin: 0%;
}
h2 {
  margin-top: 5%;
}
  #navContainer {
    background-color: transparent;

  }

  .navIconContainer {
  top: 2%;
    right: 2%;
  }

  #navBullets {
margin-right: 2%;
  }

  #navBullets>a {

    text-align: right;
    margin: 10px;

  }

  .navLogo {
    display: none;
  }


.frontPage {
  background-image: none;
}
.frontPageLogoWrapper {
  width: 10%;
  height: 10%;
  position: fixed;
  z-index: 3;
  top: 2%;
left: 2%;

}
.frontPageLogo {
    margin-top: 5%;
    width: auto;
    height: 80%;

}
  #desktopHero {
    display: block;
    position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  }


  #badge {

  }

  #badge > img {
    width: 15%;

  }

.chickenWrapper {
  height: 60vh;
}
.aboutSlides>img {
  width: 60%;

}
#about, #partners {
  padding-top: 5%;
}
.partnerSlides>img {
  width: 50%;
}

.partnerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnerContent > p {
  width: 70%;
  text-align: left;
}
  .partnerSlides {
    flex-direction: row;
align-items: center;
  }
  footer {
    flex-direction: row;
    align-items: flex-start;
  }
}
